 <tr>
  <td class="text-center"><%= gist.id %></td>
  <td class="text-center"><%= link_to truncate_question(gist.question.body), admin_question_path(gist.question) %></td>
  <td class="text-center"><%= link_to t('.url'), gist.url %></td>
  <td class="text-center"><%= gist.user.email %></td>
</tr>
