<h2><%= t('.header', title: @test_passage.test.title) %></h2>

<div>
  <p><%= @test_passage.calc_success_percent %>% of completion.</p>

  <% if @test_passage.test_passed? %>
    <p class="text-success"> Test passed </p>
  <% else %>
    <p class="text-danger"> Test failed </p>
  <% end %>

<%= link_to 'Back', tests_path(@test_passage.test) %>
</div>
