<footer class="footer">
  <ul class="author-info">
      <li class="author-info__item">Проект <a target="_blank" href="https://github.com/IgorShayderov/TestGuru">TestGuru</a>, author: Igor Shayderov</li>
      <li class="author-info__item">Сервис для создания и прохождения тестов.</li>
      <li class="author-info__item"><a target="_blank" href="https://thinknetica.com">Учебный проект в онлайн-школе Thinknetica</a></li>
      <li class="author-info__item"><%= current_year %> year.</li>
  </ul>
</footer>