  <ul class="author-info">
      <li class="author-info__item">Project <a target="_blank" href="<%= github_url("IgorShayderov", "TestGuru") %>">TestGuru</a>, author: Igor Shayderov</li>
      <li class="author-info__item">Service for creating and passing tests.</li>
      <li class="author-info__item"><a target="_blank" href="https://thinknetica.com">Educational project in Thinknetica online school.</a></li>
      <li class="author-info__item"><%= current_year %> год.</li>
  </ul>