<li>
  <%= answer.body %>
  <%= link_to t('show_action'), admin_answer_path(answer), class: "badge badge-info" %>
  <%= link_to t('edit_action'), edit_admin_answer_path(answer), class: "badge badge-warning" %>
  <%= link_to t('delete_action'),
                  admin_answer_path(answer),
                  method: :delete,
                  data:  { confirm: t('.confirmation') },
                  class: "badge badge-danger"%>
</li>
