<div class="ml-3">
  <h2><%= t('.edit_answer') %></h2>

  <p><%= @answer.question.body %></p>

  <%= render 'form' %>

  <%= link_to t('back_action'), admin_question_path(@answer.question), class: "btn btn-secondary"  %>
</div>
