<div class="ml-3">
  <h2><%= t('.new_answer') %></h2>

  <p><%= @question.body %></p>

  <%= render 'form' %>

  <%= link_to t('back_action'), admin_question_path(@question), class: "btn btn-secondary"  %>
</div>
