<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Информация об авторе приложения</title>
  <meta name="viewport" content="wclassth=device-wclassth, initial-scale=1">
  <meta charset="utf-8">

  <style type="text/css">

  </style>
</head>
<body>
  <main class="app-info">
    <h1 class="app-info__header">Информация об авторе приложении</h1>

    <ul>
      <li>Автор: Шайдеров Игорь.</li>
      <li>https://github.com/IgorShayderov</li>
    </ul>
  </main>
</body>
</html>