// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.form-answer__item {
  display: block;
  line-height: 2;
}

.form-answer__submit {
  margin-top: 10px;
  border-radius: 10px;
}