/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
main {
  flex-grow: 1;
}
.author-info__item {
  list-style: none;
  text-align: right;
}
.form__item {
  display: block;
  line-height: 2;
}
.btn {
  margin: 5px;
}
.nav {
  border-bottom: 1px solid black;
}
.welcome-message {
  margin: 5px;
}
.navbar-light {
  background-color: #e3f2fd;
}
.pointer {
  cursor: pointer;
}
.hide {
  display: none;
}
.progress-bar {
  transition-duration: 0.5s;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}