<h2 class="text-center">All tests</h2>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Test id:</th>
      <th>Title:</th>
      <th>Level</th>
      <th>Questions:</th>
      <th colspan="4" class="text-center">Actions:</th>
    </tr>
  </thead>
  <tbody>
    <%= render @tests %>
  </tbody>
</table>

<%= link_to 'New test', new_test_path, class: "btn btn-success" %>

