<h1 class="text-center"><%= t('tests.index.header') %></h1>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Test id:</th>
      <th>Title:</th>
      <th>Level:</th>
      <th class="text-center">Questions:</th>
      <th class="text-center">Actions:</th>
    </tr>
  </thead>
  <tbody>
    <%= render @tests %>
  </tbody>
</table>
