<h2>All tests</h2>

<table>
  <tr>
    <th>Test id:</th>
    <th>Title:</th>
    <th>Level</th>
    <th>Questions:</th>
    <th colspan="4">Actions:</th>
  </tr>
  <%= render @tests %>
</table>

<%= link_to 'New test', new_test_path %>

